.max_profile {
    background-image: url(https://instagram.fsju2-1.fna.fbcdn.net/v/t51.2885-15/295647077_766719877816909_656736600575539351_n.jpg?stp=dst-jpg_s150x150&_nc_ht=instagram.fsju2-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=6r_b2rfQZTgAX94AwPF&edm=AGW0Xe4BAAAA&ccb=7-5&oh=00_AT9TReQvF0q7I1yujI5n8y79m9KqdalHWQMEnQ07QBpLDQ&oe=6303867C&_nc_sid=acd11b);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    image-rendering: crisp-edges;
}